<%- include('partials-admin/header-admin.ejs')%>
<h1> modification</h1>
<section class="body">
<!-- fromulaire de modification-->
    <section class=from>
      <form action="/admin/modification-articles/<%=modifArticles.articlesId%>?_method=PUT" method="POST">
  
        <div class="md-3">
          <label for="exampleFormControlInput1" class="form-label">Titre de l'article</label>
         
        
  <input type="text" class="form-control" id="exampleFormControlInput1" name="titre" value="<%=modifArticles.titre%>">
        </div>

<td> <img src="/image/<%=modifArticles.image%>" class="image-thumbnail"name="image" height="300px" alt=""></td>

<div class="input-group mb-3">
  <input type="file" class="form-control" name="image" id="inputGroupFile02">
  <label class="input-group-text"  for="inputGroupFile02">importer</label>
</div>
       




</div>
          <div class="mb-4">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"><%=modifArticles.description%></textarea>
          </div>
        </div>
        </div>
  
  
  
        
  
  
  
        
        
  

  
  
  
  
  
  
        <button type="submit">Ajouter</button>
  
  
  
  
  
      </form>
  
  
  
  
  
  
    </section>
  </section>
  <%- include('partials-admin/footer-admin.ejs')%>